<div id="permission-list-container" th:fragment="permissionsFragment (permissions)">
  <tr th:if="${#lists.isEmpty(permissions)}">
    <td colspan="2"> No Permissions Available </td>
  </tr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">createdAt</th>
        <th scope="col">updatedAt</th>
        <th scope="col">createdBy</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider" th:each="permission : ${permissions}">
      <tr th:replace="~{/fragments/permission/permission :: permissionFragment (${permission})}">
    </tbody>
  </table>
</div>