<div th:fragment="doorsFragment (doors)">
    <tr th:if="${#lists.isEmpty(doors)}">
        <td colspan="2"> No Doors Available </td>
    </tr>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
            <th scope="col">createdBy</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider" th:each="door : ${doors}">
        <tr th:replace="~{/fragments/door/door :: doorFragment (${door})}"></tr>
        </tbody>
    </table>
</div>