<div th:fragment="doorPermissionFormFragment (fromDoors, permissions)">
  <form class="row g-3"
        th:hx-post="@{/campus/{campusId}/area/{areaId}/door/permission(campusId=${campusId},areaId=${areaId})}"
        hx-target="#door-permission-list-container"
        hx-swap="outerHTML"
  >
    <div class="col-md-4">
      <label for="door" class="form-label">Door</label>
      <select id="door" name="doorId">
        <option th:each="i : ${fromDoors}" th:value="${i.id}" th:text="${i.id + '->' + i.name}"></option>
      </select>
    </div>
    <div>
      <label for="permission" class="form-label">Permission</label>
      <select id="permission" name="permissionId">
        <option th:each="i : ${permissions}" th:value="${i.id}" th:text="${i.id + '->' + i.name}"></option>
      </select>
    </div>


    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Agree to terms and conditions
        </label>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Add Door Permission</button>
    </div>

  </form>
</div>